{% extends "base.html" %} 
    {% block title %}
        Nowe konto | Budżet domowy
    {% endblock %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'forms.css' %}" type="text/css"/>

<div id="breadcrumb-panel">
    <ol class="breadcrumb breadcrumb-arrow">
        <li>
            <a href="/">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li class="active"><span>Nowa skarbonka</span>
        </li>
    </ol>
</div>

<div class="main-container">
    <div class="container">
        <div id="form-wrapper" class="form-container">
            <form method="POST" class="account-form">{% csrf_token %} 
                <div class="form-group">
                    {{ form.name.errors }}
                    <label class="reg-lbl" for="{{ form.name.id_for_label }}">Nazwa: </label>
                    {{ form.name }}
                </div> 
                <button type="submit" class="save btn btn-default">Dodaj</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}