{% block title %}Raport | Budżet domowy{% endblock %}
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    tr:hover {background-color:#f5f5f5;}
    </style>

<!-- {% block content %} -->
<div>
    <ol>
        <!-- <li>
            <a href="/">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li> -->
        <li><span><b>Skarbonka:</b> {{request.session.current_account.name}} - Raport Transakcji na dzień {{date}}</span>
        </li>
    </ol>
</div>

{% if transactions %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tytuł</th>
            <th scope="col">Data</th>
            <th scope="col">Kwota</th>
            <th scope="col">Waluta</th>
            <th scope="col">Kategorie</th>
        </tr>
        </thead>
    {% for transaction in transactions %}
        <tr>
            <td>{{transaction.title}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.currency_id}}</td>
            <td>
                    {{transaction.categories_id}}
            </td>

        </tr>
    {% endfor %}
</table>
{% else %}
    <p>Brak transakcji</p>
{% endif %}
{% endblock %}