{% extends "base.html" %}

{% block title %}Raport ogólny| Budżet domowy{% endblock %}

{% block content %}
<ol class="breadcrumb breadcrumb-arrow">
        <li>
            <a href="/">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li class="active"><span>Wszystkie transakcje</span>
        </li>
    </ol>
{% if transactions %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Skarbonka</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Data</th>
            <th scope="col">Kwota</th>
            <th scope="col">Waluta</th>
            <th scope="col">Kategorie</th>
        </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{transaction.account.name}}</td>
            <td>{{transaction.title}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.currency_id}}</td>
            <td>
                {% for category in transaction.categories %}
                    {{category.name}},
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Brak transakcji</p>
{% endif %}
{% endblock %}