{% extends "base.html" %}

{% block title %}Raport | Budżet domowy{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'raport.css' %}" type="text/css"/>


<div id="breadcrumb-panel">
    <ol class="breadcrumb breadcrumb-arrow">
        <li>
            <a href="/">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li><a href="/konto/{{request.session.current_account.id}}">{{request.session.current_account.name}}</a></li>
        <li class="active"><span>Transakcje</span>
        </li>
    </ol>
</div>

<a href="/raport_pdf"><button type="button" class="btn btn-default"> Generuj raport</button></a>

{% if transactions %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tytuł</th>
            <th scope="col">Data</th>
            <th scope="col">Kwota</th>
            <th scope="col">Waluta</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Opcje</th>
        </tr>
        </thead>
    {% for transaction in transactions %}
        <tr>
            <td>{{transaction.title}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.currency_id}}</td>
            <td>{{transaction.categories_id}}</td>
            <td>
                <a href="/usuwanie_transakcji/{{ transaction.id }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
            </td>

        </tr>
    {% endfor %}
</table>
{% else %}
    <p>Brak transakcji</p>
{% endif %}
{% endblock %}