{% extends "base.html" %}

{% block title %}Raport | Budżet domowy{% endblock %}

{% block content %}
<ol class="breadcrumb breadcrumb-arrow">
        <li>
            <a href="/">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li {% if !current_account %}class="active"{% endif %}><span>Moje konta</span></li>
        {% if current_account %}
        <li class="active"><span>{{ current_account.name }}</span></li>
        {% endif %}
</ol>

{% for acc in accounts %}
    <span class="border">{{ acc.name }}</span>

{% endfor %}

{% endblock %}

{% block account_options%}{% endblock %}