{% load static %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Baza{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'base.css' %}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	</head>

	<body>
		<div id="logo">
			<a href="/"><h1>Budżet domowy</h1></a>
			<div class="container">
					<ul class="nav justify-content-end nav-pills">
						<li class="nav-item">
						  <a class="nav-link" href="#">Moje konta</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="/raport">Moje transakcje</a>
						</li>
						<li class="nav-item">
						  <a href="{% url 'dodanie_transakcji' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Dodaj transakcje</a>
						</li>
						<li class="nav-item">
						  <a href="{% url 'dodanie_kategorii' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Dodaj kategorie</a>
						</li>
					</ul>
				</div>
		</div>
		
	{% block content %}"Baza"{% endblock %}
	</body>
</html>
