{% extends "base.html" %} 
    {% block title %}
        Nowa transakcja | Budżet domowy
    {% endblock %} 
{% block content %}
<ol class="breadcrumb breadcrumb-arrow">
        <li>
            <a href="/">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li><a href="/raport">Moje transakcje</a>
        </li>
        <li class="active"><span>Nowa transakcja</span>
        </li>
    </ol>
<form method="POST" class="transaction-form">{% csrf_token %} {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Dodaj</button>
</form>
{% endblock %}