{% extends "base.html" %} 
    {% block title %}Nowe zlecenie stałe | Budżet domowy{% endblock %} 
{% block content %}

<ol class="breadcrumb breadcrumb-arrow">
    <li>
        <a href="/">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    </li>
    <li class="active"><span>Nowe zlecenie stałe</span>
    </li>
</ol>
<form method="POST" class="standing-order-form">{% csrf_token %} {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Dodaj</button>
</form>
{% endblock %}